<div>
    {{#if session}}
    <div>
        <p >Welcome {{session.first_name}} {{session.last_name}} {{session.date_of_birth}}, email: {{session.email}}, role: {{session.role}}</p>
        <a href="/api/users/logout" >Logout</a>
    </div>
    {{/if}}
    <h1 >Products</h1>
</div>
{{#if payload}}
    <table role="grid" style="margin-right: 30px; margin-left: 30px; width:96%">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TITLE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">PRICE</th>
                <th scope="col">CODE</th>
                <th scope="col">STATUS</th>
                <th scope="col">STOCK</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">THUMBNAIL</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each payload}}
            <tr>
                <td>
                    <p style="display:inline-block;max-width:50px;">{{_id}}</p>
                </td>
                <td>
                    <p style="display:inline-block;max-width:50px;">{{title}}</p>
                </td>
                <td>
                    <p style="display:inline-block;max-width:50px;">{{description}}</p>
                </td>
                <td>
                    <p style="display:inline-block;max-width:50px;">{{price}}</p>
                </td>
                <td>
                    <p style="display:inline-block;max-width:50px;">{{code}}</p>
                </td>
                <td>
                    <p style="display:inline-block;max-width:50px;">{{status}}</p>
                </td>
                <td>
                    <p style="display:inline-block;max-width:50px;">{{stock}}</p>
                </td>
                <td>
                    <p style="display:inline-block;max-width:50px;">{{category}}</p>
                </td>
                <td>
                    <p style="display:inline-block;max-width:50px;">{{thumbnail}}</p>
                </td>
                <td>
                    <!--<form>
                        <button id={{_id}}>+</button>
                    </form>-->
                    <form action="/api/carts/{{../session.cart}}/products/{{this._id}}" method="post">
                        <button type="submit" id={{_id}}>+</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div style="width: fit-content; margin: 0 auto;">
        <div style="display: inline-flex;overflow: hidden;white-space: nowrap;">
            {{#if hasPrevPage}}
                <a role="button" href={{prevLink}}>Back</a>
            {{else}}
                <a role="button">...</a>
            {{/if}}
            {{#if page}}
                <p style="margin: 0.8rem">Página: {{page}}</p>
            {{/if}}
            {{#if hasNextPage}}
                <a role="button" href={{nextLink}}>Next</a>
            {{else}}
                <a role="button">...</a>
            {{/if}}
        </div>
    </div>
{{else}}
    <div>
        <hr>
        {{#if message}}
            <h3>ERROR: {{message}}</h3>
            <a href="/products">Go back</a>
        {{else}}
            <h3>There are no products with the filters applied</h3>
        {{/if}}
    </div>
{{/if}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<script src="/static/js/products.js"></script>