{{#each products}}
<div>
    <span><b>Id:</b> {{_id}}</span>
    <span><b>Title:</b> {{title}}</span>
    <span><b>Description:</b> {{description}}</span>
    <span><b>Price:</b> ${{price}}</span>
    <span><b>Thumbnail:</b> {{thumbnail}}</span>
    <span><b>Code:</b> {{code}}</span>
    <span><b>Stock:</b> {{stock}}</span>
</div>
<br/>
{{/each}}