

{{#if payload._id}}
    <div>
        <h1 >cart products</h1>
    <ul >
        {{#each payload.products}}
            <li>
                <div>
                    <p >{{product.title}}</p>
                    <p >$ {{product.price}}</p>
                    <p >{{product.description}}</p>
                    <p >QUANTITY: {{quantity}}</p>
                    <p >PRODUCT ID: {{product._id}}</p>
                    <p >CODE: {{product.code}}</p>
                    <p >STATUS: {{product.status}}</p>
                    <p >STOCK: {{product.stock}}</p>
                    <p >CATEGORY: {{product.category}}</p>
                    <p >Nº OF THUMBNAILS: {{product.thumbnails.length}}</p>
                </div>
                <div >
                    {{#each product.thumbnails}}
                        <img h-32"" src={{this}} alt="Product image">
                    {{/each}}
                </div>
            </li>
            <hr >
        {{/each}}
    </ul>
    </div>
{{else}}
    <div>
        <h1 >The cart doesn't exists</h1>
    </div>
{{/if}}